.product{
    display:flex;
    border-bottom: 1px solid lightgray ;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;

}

.product-name{
    color: blue;
    font-weight: 400;
}
.product-detail{
    max-width: 500px;
}